<!doctype html>
<html lang="en">
    <head>
        <title>
            {% block title %}
            Service Desk Aid
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
        <!--styles-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>

        <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"/-->
    </head>

    <body>
        <!--scripts-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <center>
            {% block body %}
            {% endblock %}
        </center>
    </body>
</html>
