{% extends 'base.html' %}
{% include 'menu.html' %}
{% block body %}
<div class="container-fluid">
  <div class="col-md-4">
    <figure>
      <embed height="400" width="600" type="image/svg+xml" src="{{ url_for('static', filename='graphs/chart.svg') }}"/>
    </figure>
  </div>
  <div class="col-md-4">
    <figure>
      <embed height="400" width="600" type="image/svg+xml" src="{{ url_for('static', filename='graphs/style.svg') }}"/>
    </figure>
    <figure>
  </div>
  <div class="col-md-4">
    <embed height="400" width="600" type="image/svg+xml" src="{{ url_for('static', filename='graphs/plot.svg') }}"/>
  </figure>
  </div>
</div>
{% endblock %}
