<div class="container-fluid">
<table class="table">
   <caption>Today's issues and tickets</caption>
   <thead>
      <tr>
         <th>Ticket Number</th>
         <th>Open</th>
         <th>Status</th>
      </tr>
   </thead>
   <tbody>
      <tr class="active" >
         <td><a href="#" class="btn btn-primary">Issue #1</td>
         <td>23/11/2013</td>
         <td>Closed</td>
      </tr>
      <tr class="success">
         <td><a href="#" class="btn btn-primary">Issue #2</td>
         <td>10/11/2013</td>
         <td>Solved</td>
      </tr>
      <tr  class="warning">
         <td><a href="#" class="btn btn-primary">Issue #3</td>
         <td>20/10/2013</td>
         <td>Pending</td>
      </tr>
      <tr  class="danger">
         <td><a href="#" class="btn btn-primary">Issue #4</td>
         <td>20/10/2013</td>
         <td>Critical</td>
      </tr>
      <tr class="active" >
         <td><a href="#" class="btn btn-primary">Issue #1</td>
         <td>23/11/2013</td>
         <td>Closed</td>
      </tr>
      <tr class="success">
         <td><a href="#" class="btn btn-primary">Issue #2</td>
         <td>10/11/2013</td>
         <td>Solved</td>
      </tr>
      <tr  class="warning">
         <td><a href="#" class="btn btn-primary">Issue #3</td>
         <td>20/10/2013</td>
         <td>Pending</td>
      </tr>
      <tr  class="danger">
         <td><a href="#" class="btn btn-primary">Issue #4</td>
         <td>20/10/2013</td>
         <td>Critical</td>
      </tr>
      <tr class="active" >
         <td><a href="#" class="btn btn-primary">Issue #1</td>
         <td>23/11/2013</td>
         <td>Closed</td>
      </tr>
      <tr class="success">
         <td><a href="#" class="btn btn-primary">Issue #2</td>
         <td>10/11/2013</td>
         <td>Solved</td>
      </tr>
      <tr  class="warning">
         <td><a href="#" class="btn btn-primary">Issue #3</td>
         <td>20/10/2013</td>
         <td>Pending</td>
      </tr>
      <tr  class="danger">
         <td><a href="#" class="btn btn-primary">Issue #4</td>
         <td>20/10/2013</td>
         <td>Critical</td>
      </tr>
   </tbody>
</table>
</div>
