#signup-form {
    padding-top: 10%;
    text-align: center;
}

.clock {
    position: relative !important;
    padding-top: 0px;
    margin-left: -194px;
    height:90px;
    width: 100px;
    /zoom: .3;/
	    transform: scale(.14);
    -ms-transform: scale(.14); /* IE 9 /
      -webkit-transform: scale(.14); / Safari and Chrome /
      -o-transform: scale(.14); / Opera /
      -moz-transform: scale(.14); / Firefox */
}

.flip-clock-wrapper {
    position: relative;
}

