[Unit]                                                                                                       
Description=uWSGI for Service desk aid
After=syslog.target                                                                                          
                                                                                                             
[Service]                                                                                                    
ExecStart=/usr/bin/sda --ini /opt/servicedeskaid/viewpanel/conf/config.ini
Restart=always                                                                                               
KillSignal=SIGQUIT                                                                                           
Type=notify                                                                                                  
StandardError=syslog                                                                                         
NotifyAccess=main                                                                                            
                                                                                                             
[Install]                                                                                                    
WantedBy=multi-user.target